# Dependencies
node_modules/
dist/
build/
.next/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Database & App specific data
library.json
books/
*.sqlite
*.db

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
